   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      font-family: "Poppins", sans-serif;
      background-color: #f5f5f5;
    }
    .image-container {
      position: relative;
      display: inline-block;
    }
    img, canvas {
      border-radius: 10px;
      width: 800px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
    .recommendation {
      margin-top: 20px;
      text-align: center;
      max-width: 600px;
    }
    .recommendation h2 {
      color: #333;
    }
    .recommendation p {
      color: #555;
      margin: 5px 0;
    }
    .button-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 10px;
    }
    .button-container button {
      margin: 5px;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
    }
    .emotion-overlay {
      position: absolute;
      z-index: 20;
    }
    .emotion-box, .age-gender-box {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    .emotion-box {
      z-index: 10;
      position: absolute;
      top: 30%;
      left: 15%;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 5px;
    }
    .age-gender-box {
      position: absolute;
      top: 80%;
      left: 60%;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 5px;
      display: flex;
    }
    .recommendation {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }