*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;

}
.hero{
    background-color: #2C3B2D;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero img{
    width: 80%;
}
.face-detection-box {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



